.mainbox{
    background-color:rgb(252, 229, 216);
    width: 100%; 
    height:25rem;   
}

.product_tophead{
    margin-left: 2rem;
    color:#817187;
    font-size: 20px;
    text-align: start;
    padding-top: 0.5rem;
}
.justflex,.tom{
    display:flex;
}
.leftbox{
    border:"1px solid red";
    width:55rem;
   position: relative;
   z-index: 1;
}

.rightbox{
    border:"1px solid green";
    width:20rem;
   position: relative;
   z-index: 1;
}

.leftin{
    display: flex;
    margin-bottom: 0.7rem;
}
.key{
    margin-left: 2rem;
}

.bill{
    margin-left: 1.5rem;
}
.report{
    margin-left: 1rem;
}
.web{
    margin-left: 3rem ;
}
.mob{
    margin-left: 3.3rem;
}
.product_img1{
    margin-left: 2rem;
    margin-right: 1rem;
    margin-top: 20px;
}
.heading{
    color:#411c33 ;
    text-align: start;
    font-size: 18px;
}
.product_h2{
    color: #817187;
    /* margin-top: -20px; */
    text-align: start;
    font-size: 15px;
}

.emp{
    margin-left: 2rem;
}
.pay{
    margin-left: 1.9rem;;
}
.pro{
    margin-left: 2.2rem;
}

.product_box{
    display:flex;
    margin: auto;
    height:50px;
    width: 90%;
    border: 1px solid black;
    background-color: aliceblue;
}

.toggle{
    margin-left: 40px;
    color:#5f2a4c ;
    font-size: 16px;
    text-align: start;
    margin-top: 0.5rem;
}
.icon{
    height:1rem;
    width:3rem;
    margin-left: 8rem;
    margin-top: 0.5rem;
}
.line{
    border:1px solid #dac2e2;
    margin-left: 4rem;

}