/* body {
    background-color: #2d1738;
    color: white;
    font-family: Arial;
    text-align: center;
} */

.container {
    background-color: #2d1738;
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial;
    text-align: center;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* h1,
h2,
h4,
h3,
h5,
h6 {
    margin: 0px;
    padding: 0px;
} */

.container .heading {
    padding-top: 50px;
    font-size: 40px;
    margin: 0px;
    background-color: #2d1738;
}

.togglebtnheading {
    margin-top: 100px;
}

.description {
    width: 65%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}


.planFeatureBtn {
    display: inline-block;
    height: 50px;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 1);
    background-color: #412a4c;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

.planFeatureBtn svg {
    font-size: 10px;
    margin-left: 10px;
}


.planFeatureBtn:hover {
    border-color: #e57cd8;
    background-color: #fff3ed;
    color: #e57cd8;
}

@media all and (max-width:30em) {
    .planFeatureBtn {
        display: block;
        margin: 0.2em auto;
    }
}